<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">   <!-- spécifier le chemin sans le dossier parent-->
</head>
<body>
    <header>
        <h1>Ma To-do List, yataaaaa!</h1>
        <nav>
            <span><a href="">Méteo</a></span>
            <span><a href="">Gif generator</a></span>
            <span><a href="">Mon choix</a></span>
        </nav>
    </header>
    <main>
        <div id="box1">
            <form action="" method="POST">
                <label for="name">Tâche:</label><br>
                <input type="text" name="name" id="name"><br>
                <input type="submit">
            </form>
        </div>
        <div id="box2">
            <h2>Tâche</h2>
            <ul>
                <% todo.forEach(function(todo, index) { %>
                   <li><a href="/supprimer/<%= index %>">✘</a> <%= todo %></li>
                <% }); %>
            </ul>
        </div>
    </main>
    <footer>
        <span><a href="">Contact</a></span>
    </footer>   
</body>
</html>