<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To-do list</title>
    <link rel="stylesheet" href="/css/style.css">   <!-- spécifier le chemin sans le dossier parent-->
</head>
<body>
    <header class="container-fluid d-flex flex-column">
        <div class="row justify-content-center title">
            <h1>Ma To-do List, yataaaaa!</h1>
        </div>
        <nav class="row">
            <div id="navbox" class="d-flex flex-row-reverse ">
                <span><a class="align-bottom" href="/route/meteo">Méteo</a></span>
                <span><a href="/route/gif">Gif generator</a></span>
                <span><a href="/route/poubelle">Mon choix</a></span>
            </div>
        </nav>
    </header>
    <main>
        <div class="container d-flex flex-column">
            <div class="row justify-content-center align-items-center array flex-container">
                <table>
                    <thead>
                        <tr align="center">
                            <th><h5>Tâche</h5></th>
                            <th><h5>Supprimer</h5></th>
                            <th><h5>Modifier</h5></th>
                            <th><h5>Date</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% todo.forEach(function( todo, index ){ %>
                        <tr>
                            <td align="center"><%= todo %></td><td align="center"><a href="/del/<%=index%>">✘</a></td><td align="center"><a href="/up/<%=index%>">&#10002</a></td><td align="center"><input type="date"></td>
                        <% }); %> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="row justify-content-center align-items-center" method="POST" action="/">
                <div class="row form-group col-12">
                    <input type="text" class="form-control justify-content-center col-12" id='name' value="<%=data%>" name="name"  autofocus placeholder="Entrez votre tâche.">
                </div>
                <div class="row col-12 justify-content-center">
                    <button type="submit" class="btn btn-primary">valider</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <span><a href="">Contact</a></span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    
    </script>
</body>
</html>


   