html,body {

    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: #d0e3e9;
    color: white;
   
}
header {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}
header>h1, a {
    text-shadow: 2px, 2px, 2px black;
}
main {
    height: 70%;
    color: black    ;
}
.array {
    margin-top: 100px;
    height: auto;
}
table {
    border-collapse: collapse;
}
form {
    margin-top: 100px;
}

.btn {
    background-color: rgb(192, 190, 63);
    border-color: rgb(192, 190, 63);
}


