html,body{

    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: #5c6f75;
    color: white;
   
}
header{
    
    border: 1px solid blanchedalmond;
    background-color: rgba(66, 83, 91, 0.4);
}
h1, h2{
    text-align: center;
    text-shadow: 2px 2px black;
}
nav{
    text-align: right;
}
main{

    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
#box1{
    
    margin: auto;
    height: 80%;
    width: 100%;
    border: 1px solid blanchedalmond;
    border-radius: 10px;

}
ul{
    list-style: none;
}

#box2{
    text-align: center;
    width: 100%;
}
footer{
    width: 100%;
    background-color: #42545b;
}

